* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.3s;
}

window#waybar.hidden {
  opacity: 0.3;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow:  4px 5px #0f0f16;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 12px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
  transition:all 0.2s ease-in-out;
}

#workspaces button.active {
  padding: 6px 18px;
  color: #1e1e2e;
  background-color: #cdd6f4;
  box-shadow: 4px 5px #182c6f;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}


/* for normal module*/
#pulseaudio,
#bluetooth,
#battery,
#backlight,
#network,
#custom-keystate,
#custom-wether,
#custom-hardware,
#custom-system,
#custom-power,
#clock,
#custom-updates,
#mpd,
#custom-notification,
#tray {
  border-radius: 4px;
  margin: 0px 5px 5px 3px;
  padding: 6px 12px;
  color: #181825;
}

#custom-notification {
  background-color: #cd544d;
  box-shadow: 4px 5px #712420;
}

#custom-updates {
  background-color: #1794D1;
  box-shadow: 4px 5px #0e1f6d;
}

#tray {
  background-color: rgb(176, 233, 179);
  box-shadow: 4px 5px #227826;
}

#custom-hardware {
  background-color: #c0b7f4 ;
  box-shadow: 4px 5px #251484;
}

#custom-system {
  background-color: rgb(150, 247, 247);
  box-shadow: 4px 5px #0a8484;
}

#custom-power {
  margin-right: 6px;
  background-color: #ff4d4d;
  box-shadow: 4px 5px 3px #4c0000;
}

#battery {
  background-color: rgb(243, 139, 168);
  box-shadow: 4px 5px #730c29;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: rgb(255, 0, 0);
  box-shadow: 4px 5px rgb(153, 0, 0);
  color: #FFFF00;
}

#battery.charging {
  background-color: rgb(166, 227, 161);
  box-shadow: 4px 5px #297623;
  color: #181825;
}

#backlight {
  background-color: rgb(250, 179, 135);
  box-shadow: 4px 5px #903b06;
}

#pulseaudio {
  background-color: rgb(205, 214, 244);
  box-shadow: 4px 5px #1f398f;
}

#bluetooth {
  background-color: rgb(63, 185, 183);
  box-shadow: 4px 5px #26706f;
}


#network {
  background-color: rgb(148, 226, 213);
  box-shadow: 4px 5px #1e6d60;
  padding-right: 17px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
  background-color: rgb(203, 166, 247);
  box-shadow: 3px 5px #2e085b;
}

#custom-keystate {
  background-color: rgb(242, 205, 205);
  box-shadow: 4px 5px #792020;
}

#custom-wether {
  background-color: rgb(244, 225, 161);
  box-shadow: 4px 5px #866b10;
}

/* for modules in  drawer*/

#cpu,
#temperature,
#memory,
#custom-disk,
#idle_inhibitor,
#power-profiles-daemon,
#custom-quit,
#custom-lock,
#custom-reboot {
  padding: 6px 12px;
  margin-bottom: 5px;
}

#power-profiles-daemon {
  background-color: #a7e6e6;
}


#idle_inhibitor {
  background-color: #ace1e1;
}

#cpu {
  background-color: #beb4f7;
}

#temperature {
  background-color: #c2baf1;
}

#memory {
  background-color: #c7c1ea;
}

#custom-disk {
  background-color: #cbc7e4;
}

#custom-reboot {
  background-color: #f15b5b;
}

#custom-lock {
  background-color: #e46868;
}

#custom-quit {
  background-color: #d67676;
}
